Lab1/Zadanie 6 - pliki/dane_osobowe.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:element name = "osoby">
   <xs:complexType>
    <xs:sequence>
     <xs:element name="osoba" maxOccurs="unbounded">
      <xs:complexType>
       <xs:sequence>
        <xs:element name="Imię" type="xs:string"/>
        <xs:element name="Nazwisko" type="xs:string"/>
        <xs:element name="Płeć">
         <xs:simpleType>
          <xs:restriction base="xs:string">
           <xs:enumeration value="Mężczyzna"/>
           <xs:enumeration value="Kobieta"/>
          </xs:restriction>
         </xs:simpleType>
        </xs:element>
        <xs:element name="Wiek">
         <xs:simpleType>
          <xs:restriction base="xs:integer"/>
        </xs:simpleType>
       </xs:element>
      </xs:sequence>
     </xs:complexType>
    </xs:element>
   </xs:sequence>
  </xs:complexType>
 </xs:element>   
</xs:schema>